<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Добро пожаловать, {{ name }}!</h2>
    <p><b>Хэшированный пароль:</b> {{ password_hash }}</p>
    <button onclick="toggleTheme()">Сменить тему</button>
</div>
<script>
function toggleTheme() {
    document.body.classList.toggle("dark");
}
setTimeout(function() {
    window.location.href = "/login";
}, 60000);
</script>
</body>
</html>